@import '@styles/constants.scss';

.card {
    background-color: #ffffff;
    border: 2px solid $color-red-light;
    border-radius: $padding-s;
    flex-grow: 1;
    padding: calc($padding-s / 2) $padding-s;
    position: relative;
    width: 100%;
    z-index: 2;

    table {
        border-collapse: collapse;
        width: 100%;

        td {
            padding: calc($padding-s / 2) calc($padding-s / 4);
        }

        thead,
        tbody {
            display: grid;
            grid-auto-rows: 1fr;
            width: 100%;

            tr {
                align-items: center;
                display: grid;
                grid-template-columns: 3fr 1fr 1fr;
                width: 100%;

                td:not(:first-child) {
                    text-align: center;
                }
            }
        }

        thead {
            h3 {
                @include gradient-text;

                font-size: 1em;
            }

            svg {
                color: $color-red;
                height: 1.5rem;
                transform: translateY(0.125em);
            }
        }

        tbody {
            color: $color-text;
            font-size: 0.75em;

            tr {
                border-top: 1px solid $color-red-light;

                .swift {
                    color: $color-red;
                }

                svg {
                    height: 1rem;
                }
            }
        }
    }

    @media (min-width: $breakpoint-s) {
        table {
            thead {
                h3 {
                    font-size: 1.25em;
                }
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        table {
            thead {
                svg {
                    height: 2rem;
                }
            }

            tbody {
                font-size: 0.9rem;

                tr {
                    svg {
                        height: 1.25rem;
                    }
                }
            }
        }
    }
}
