@import '@styles/constants.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $padding-l;

    .card {
        background-color: #ffffff;
        border: 2px solid $color-red-light;
        border-radius: $padding-s;
        flex-grow: 1;
        margin-bottom: calc($padding-m * -1);
        padding: calc($padding-s / 2) $padding-s;
        position: relative;
        width: 100%;
        z-index: 2;

        table {
            border-collapse: collapse;
            width: 100%;

            td {
                padding: calc($padding-s / 2) calc($padding-s / 4);
            }

            thead,
            tbody {
                display: grid;
                grid-auto-rows: 1fr;
                width: 100%;

                tr {
                    align-items: center;
                    display: grid;
                    grid-template-columns: 3fr 1fr 1fr;
                    width: 100%;

                    td:not(:first-child) {
                        text-align: center;
                    }
                }
            }

            thead {
                h2 {
                    @include gradient-text;

                    font-size: 1em;
                }

                svg {
                    color: $color-red;
                    height: 1.5rem;
                }
            }

            tbody {
                color: $color-text;
                font-size: 0.75em;

                tr {
                    border-top: 1px solid $color-red-light;

                    .swift {
                        color: $color-red;
                    }

                    svg {
                        height: 1rem;
                    }
                }
            }
        }
    }

    .image {
        aspect-ratio: 2 / 1;
        border-radius: $padding-s;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .placeholder {
            background-color: $color-red-light;
            inset: 0;
            position: absolute;
        }
    }

    @media (min-width: $breakpoint-s) {
        .card {
            table {
                thead {
                    h2 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        flex-direction: row;

        .card {
            margin-bottom: unset;
            margin-right: calc($padding-m * -1);
            max-width: 60%;

            table {
                thead {
                    svg {
                        height: 2rem;
                    }
                }

                tbody {
                    font-size: 0.9rem;

                    tr {
                        svg {
                            height: 1.25rem;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $breakpoint-l) {
        .card {
            table {
                thead {
                    h2 {
                        font-size: 2em;
                    }
                }
            }
        }
    }
}
