@import 'styles/constants.scss';

.summary {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .total {
        display: flex;
        gap: 0.25em;
    }

    .info {
        align-items: baseline;
        display: flex;
        margin-top: 4px;
        gap: 0.5em;
    }

    .quantity,
    .promo {
        color: $color-text;
        font-size: 0.75em;
    }

    .promo {
        .code {
            @include gradient-text;

            border: 1px solid $color-red;
            border-radius: 4px;
            padding: 0 2px;
            text-transform: uppercase;
        }
    }

    .checkout {
        background: linear-gradient(to right, $color-red, $color-pink);
        border-radius: 4px;
        color: #ffffff;
        display: flex;
        gap: 8px;
        padding: calc($padding-s / 1.5) $padding-s;
        text-align: center;

        &:disabled {
            background: $color-text;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
