@import '@styles/constants.scss';

.child {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: $padding-s;
    justify-content: space-between;

    &:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    .image {
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
        width: 40%;

        .placeholder {
            background: $color-red-light;
            border-radius: $padding-s;
            height: 100%;
            width: 100%;
        }
    }

    .content {
        flex-grow: 1;

        h3 {
            @include gradient-text;

            font-size: 1.15em;
            margin-bottom: 0.25em;
        }

        p {
            color: $color-text;
            font-size: 0.9em;
        }
    }

    @container (width >= 600px) {
        .image {
            aspect-ratio: 4 / 3;
        }

        .content {
            h3 {
                font-size: 1.5em;
            }
        }
    }
}
