@import '@styles/constants.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $padding-l;
    margin-bottom: $padding-l;
    position: relative;
    z-index: 1;

    .sticky {
        align-self: flex-start;
        flex-shrink: 0;
        position: relative;
        width: 100%;
        z-index: 2;

        .tile {
            background-color: #ffffff;
            border: 2px solid $color-red-light;
            border-radius: $padding-s;
            display: flex;
            flex-direction: column;
            gap: $padding-s;
            padding: $padding-s;
            width: 100%;

            hr {
                border: 1px solid $color-red-light;
                margin: 0;
            }

            .content {
                h2 {
                    @include gradient-text;

                    display: inline-block;
                    font-size: 2rem;
                    margin-bottom: $padding-s;
                }

                ul {
                    li {
                        margin-bottom: $padding-s;

                        h3 {
                            align-items: center;
                            color: $color-red;
                            display: flex;
                            gap: 0.25em;
                            margin-bottom: 0.25em;

                            svg {
                                display: inline;
                                height: 1.15em;
                                width: 1.15em;
                            }
                        }

                        p {
                            color: $color-text;
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: $padding-l;
        width: 100%;
    }

    @media (min-width: $breakpoint-s) {
        .sticky {
            padding: 0 $padding-s;

            .tile {
                gap: $padding-m;
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        flex-direction: row-reverse;
        gap: $padding-m;

        .sticky {
            max-width: 40%;
            padding: 0;
            padding-right: $padding-s;
            position: sticky;
            top: $padding-l;
            width: 400px;
        }

        .main {
            padding: calc($padding-l + $padding-m) 0 $padding-l 0;
        }
    }

    @media (min-width: $breakpoint-l) {
        gap: $padding-l;

        .sticky {
            width: 500px;

            .tile {
                padding: $padding-m;
            }
        }
    }
}
