@import 'styles/constants.scss';

.wrapper {
    background-color: $color-red-light;
    border-radius: 0 0 var(--padding-s) var(--padding-s);
    margin-bottom: calc(-1 * var(--padding-m));
    margin-left: calc(var(--padding-s) * -1);
    overflow: hidden;
    padding-bottom: var(--padding-l);
    padding: 0 0 var(--padding-l) 0;
    position: relative;
    width: calc(100% + var(--padding-m));
    z-index: 1;

    svg {
        color: $color-red;
        height: 3rem;
        position: absolute;
        right: var(--padding-s);
        top: var(--padding-s);
        z-index: 2;
    }

    .image {
        aspect-ratio: 1 / 1;
        position: relative;
        width: 100%;
        z-index: 1;

        .imageLarge {
            display: none;
        }

        &::after {
            background: linear-gradient(
                to bottom,
                rgba($color-red-light, 0),
                $color-red-light
            );
            bottom: 0;
            content: '';
            height: 5rem;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }

    .content {
        margin: auto;
        max-width: 380px;
        padding: var(--padding-m) var(--padding-s);
        position: relative;
        text-align: center;
        z-index: 3;

        img {
            position: absolute;
            z-index: 1;
        }

        .casePurple {
            display: none;
        }

        .earplugPurple {
            bottom: 5px;
            left: -10px;
            filter: drop-shadow(-20px 50px 20px rgba(0, 0, 0, 0.2));
        }

        .earplugBlack {
            bottom: -20px;
            right: -5px;
            filter: drop-shadow(10px 50px 20px rgba(0, 0, 0, 0.2));
        }

        .earplugRose {
            right: 15px;
            top: -10px;
            filter: drop-shadow(20px 50px 20px rgba(0, 0, 0, 0.2));
        }

        :not(img) {
            position: relative;
            z-index: 2;
        }

        h1 {
            @include gradient-text;

            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 0.1em;
        }

        h2 {
            @include gradient-text;

            font-size: 1.35rem;
            font-weight: 400;
            margin-bottom: 0.5em;
        }

        p {
            color: $color-text;
        }
    }

    @media (min-width: $breakpoint-s) {
        border-radius: var(--padding-s);
        margin-left: 0;
        width: 100%;

        .content {
            padding: var(--padding-m) 0;

            img {
                display: block;
            }

            .earplugPurple {
                bottom: -15px;
                left: -30px;
            }

            .earplugBlack {
                bottom: -30px;
                right: -10px;
            }

            .earplugRose {
                right: 15px;
                top: -5px;
            }

            h2 {
                font-size: 1.5rem;
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
        padding-left: var(--padding-s);

        svg {
            left: var(--padding-s);
        }

        .image {
            max-height: 400px;
            max-width: 400px;

            .imageSmall {
                display: none;
            }

            .imageLarge {
                display: block;
            }

            &::after {
                display: none;
            }
        }

        .content {
            .earplugPurple {
                bottom: 40%;
                left: -30px;
            }

            .earplugBlack {
                bottom: -20px;
                right: 0px;
            }

            .earplugRose {
                right: -10px;
                top: 0px;
            }
        }
    }

    @media (min-width: 1000px) {
        .content {
            .casePurple {
                display: block;
                bottom: -80px;
                right: -80px;
                transform: rotate(-90deg);
                filter: drop-shadow(-100px 20px 40px rgba(0, 0, 0, 0.25));
            }

            .earplugPurple {
                display: none;
            }

            .earplugBlack {
                bottom: 40%;
                left: -50px;
                filter: drop-shadow(-20px 50px 20px rgba(0, 0, 0, 0.2));
            }
        }
    }

    @media (min-width: $breakpoint-l) {
        .image {
            max-height: 500px;
            max-width: 500px;
        }
    }

    @media (min-width: $breakpoint-xl) {
        .image {
            max-height: 600px;
            max-width: 600px;
        }
    }
}
