@import '@styles/constants.scss';

.item {
    svg {
        color: $color-red;
        height: 1.5rem;
        width: 1.5rem;
    }

    h3 {
        align-items: center;
        color: $color-red;
        display: flex;
        gap: 0.25em;
        margin-bottom: 0.25em;

        svg {
            display: inline;
            height: 1.15em;
            width: 1.15em;
        }
    }

    p {
        color: $color-text;
        font-size: 0.9em;
    }
}
