@import 'styles/constants.scss';

.footer {
    background: linear-gradient(
        to top,
        $color-red-light,
        rgba($color-red-light, 0)
    );
    color: $color-red;
    display: flex;
    margin-top: -10rem;
    padding: 20rem 0 var(--padding-l) 0;
    position: relative;
    z-index: 0;

    svg {
        height: 3rem;
        margin: auto;
    }
}
