@import '@styles/constants.scss';

.product {
    display: grid;
    gap: $padding-s;
    width: 100%;
}

.images {
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.selector {
    display: grid;
    gap: $padding-s;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .option {
        color: $color-text;
        display: flex;
        flex-direction: column;
        padding: 2px;
        text-align: center;

        button {
            aspect-ratio: 1 / 1;
            border: 2px solid #ffffff;
            border-radius: 4px;
            outline: 2px solid rgba(0, 0, 0, 0.25);
            position: relative;
            transition: outline-color $transition;
            width: 100%;

            &.selected {
                outline-color: $color-pink;
            }

            &:disabled {
                filter: grayscale(1);
                opacity: 0.5;
            }

            img {
                border-radius: 2px;
            }
        }

        .title {
            font-size: 0.9em;
            margin-top: 8px;
        }

        .outOfStock {
            font-size: 0.75em;
            margin-top: 2px;
        }
    }
}

.addToCart {
    display: grid;
    gap: $padding-s;

    .action {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        gap: $padding-s;

        .price {
            font-weight: 600;

            span {
                font-size: 0.75em;
            }
        }

        button {
            background-image: linear-gradient(
                to right,
                $color-red,
                $color-pink
            );
            border-radius: 4px;
            color: #ffffff;
            flex-grow: 1;
            padding: calc($padding-s / 1.5) $padding-s;
            text-align: center;
        }
    }

    .shipping {
        align-items: center;
        color: $color-text;
        display: flex;
        font-size: 0.9em;
        gap: 8px;
        justify-content: center;

        svg {
            color: $color-red;
            height: 1.25em;
        }
    }
}
