@import 'styles/constants.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);

    .image {
        aspect-ratio: 16 / 10;
        border-radius: var(--padding-s);
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--padding-s);

        h2 {
            @include gradient-text;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--padding-s);
        }
    }

    @media (min-width: $breakpoint-m) {
        .image {
            aspect-ratio: 16 / 8;
        }

        .content {
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
