@import 'library/styles/constants.scss';

.footer {
    background: linear-gradient(
        to top,
        $color-red-light,
        rgba($color-red-light, 0)
    );
    color: $color-red;
    display: flex;
    margin-top: -10rem;
    overflow: hidden;
    padding: 20rem 0 $padding-l 0;
    position: relative;
    z-index: 0;

    svg {
        height: 3rem;
        margin: auto;
        position: relative;
        z-index: 2;
    }

    img {
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    .casePurple {
        display: none;
    }

    .caseBlack {
        bottom: -20px;
        left: -10px;
        transform: rotate(-15deg);
    }

    .caseRose {
        bottom: 140px;
        right: -30px;
        transform: rotate(-90deg);
    }

    .earplugPurple1 {
        bottom: 295px;
    }

    .earplugPurple2 {
        bottom: 50px;
        right: 20px;
    }

    .earplugPurple3 {
        display: none;
    }

    .earplugBlack1 {
        bottom: 230px;
        right: 40%;
    }

    .earplugBlack2 {
        bottom: 350px;
        right: -20px;
    }

    .earplugBlack3 {
        display: none;
    }

    .earplugBlack4 {
        display: none;
    }

    .earplugRose1 {
        bottom: 170px;
        left: 15%;
    }

    .earplugRose2 {
        bottom: -10px;
        right: 30%;
    }

    .earplugRose3 {
        display: none;
    }

    @media (min-width: $breakpoint-s) {
        .casePurple {
            display: block;
            bottom: -60px;
            right: 15%;
            transform: rotate(-60deg);
        }

        .caseBlack {
            bottom: 100px;
            left: -20px;
        }

        .caseRose {
            bottom: 160px;
        }

        .earplugPurple1 {
            bottom: 290px;
            left: 15%;
        }

        .earplugPurple2 {
            bottom: 250px;
            right: 30%;
        }

        .earplugBlack1 {
            bottom: 70px;
            right: 20px;
        }

        .earplugRose1 {
            bottom: 20px;
            left: 20%;
        }

        .earplugRose2 {
            bottom: 160px;
            left: 35%;
        }

        .earplugRose3 {
            display: block;
            bottom: 360px;
            left: -10px;
            transform: rotate(-15deg);
        }
    }

    @media (min-width: $breakpoint-m) {
        .casePurple {
            bottom: -40px;
            right: 20%;
        }

        .caseBlack {
            left: -10px;
        }

        .caseRose {
            bottom: 200px;
            right: -10px;
        }

        .earplugBlack1 {
            bottom: 200px;
            left: 35%;
        }

        .earplugBlack2 {
            bottom: 380px;
        }

        .earplugBlack3 {
            display: block;
            bottom: 60px;
            right: 5%;
        }

        .earplugRose1 {
            left: 15%;
        }

        .earplugRose2 {
            bottom: 130px;
            left: unset;
            right: 30%;
        }
    }

    @media (min-width: 1000px) {
        margin-top: -15rem;
        padding-top: 25rem;

        .casePurple {
            left: 5%;
        }

        .caseBlack {
            bottom: 300px;
            left: 20%;
        }

        .caseRose {
            bottom: 20px;
            right: 10%;
        }

        .earplugPurple1 {
            bottom: 240px;
            left: 7.5%;
        }

        .earplugPurple2 {
            right: 32.5%;
            bottom: 300px;
        }

        .earplugPurple3 {
            display: block;
            bottom: -20px;
            right: 35%;
        }

        .earplugBlack1 {
            bottom: 140px;
            left: 17.5%;
        }

        .earplugBlack3 {
            bottom: 200px;
        }

        .earplugBlack4 {
            display: block;
            transform: scaleX(-100%);
            bottom: -15px;
            left: 30%;
        }

        .earplugRose1 {
            bottom: 200px;
            left: 40%;
        }

        .earplugRose3 {
            bottom: 400px;
        }
    }
}
