@import './constants.scss';

.error {
    display: flex;
    height: 100vh;
    text-align: center;
    width: 100%;

    div {
        margin: auto;
        padding: 0 $padding-s;

        svg {
            color: $color-red;
            height: 3rem;
            margin-bottom: 1rem;
        }

        h2 {
            @include gradient-text;
        }

        p {
            margin: 1em 0;
        }

        button {
            background-color: $color-red;
            border-radius: 4px;
            color: #ffffff;
            padding: calc($padding-s / 1.5) $padding-s;
        }
    }
}
