@import 'styles/constants.scss';

.colors {
    align-items: center;
    display: flex;

    span {
        border: 2px solid #ffffff;
        border-radius: 0.75rem;
        display: block;
        height: 1.5rem;
        margin-bottom: 6px;
        width: 1.5rem;
    }

    .gold {
        background-color: lighten($color: #f3584a, $amount: 10);
    }

    .purple {
        background-color: lighten($color: #bf28ed, $amount: 15);
        transform: translateX(-25%);
    }

    .black {
        background-color: lighten($color: #000000, $amount: 25);
        transform: translateX(-50%);
    }
}
